# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD6H2_RgyeFNFeRuKY03G2lGjzopikvZ68
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mayank-doctor-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mayank-doctor-project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mayank-doctor-project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=949280145008
NEXT_PUBLIC_FIREBASE_APP_ID=1:949280145008:web:4ed208f2c3172b6786beb5


# Application settings
NODE_ENV=production
PORT=3000

NEXT_PUBLIC_RESEND_API_KEY=re_PSM5uUUv_PAMrLCQJDNq4hfKrAD5443Gy

GMAIL_USER=prakharpanwar147@gmail.com
GMAIL_APP_PASSWORD=czhg jdkm ysqs iwid

NEXT_PUBLIC_RECEPTION_SECURITY_CODE=RECEPTION123
NEXT_PUBLIC_DOCTOR_SECURITY_CODE=DOCTOR456